body {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}
a {
    text-decoration: none;
}
.container {
	margin: 0 auto;
	padding: 20px;
}
.navbar {
	margin-bottom: 0;
}
.navbar-right {
	width: 300px;
	padding: 5px;
	inter-line: 5px;
}
.glyphicon {color: white;}
.box {
	padding: 5px;
	color: white;
	text-decoration: none;
}
.jumbotron {
	background-image: url('images/jumbotron.png');
	background-size: cover;
	width: 100%;
	min-height: 400px;
	min-width: 200px;
	box-shadow: 10px 10px 5px lightgrey;
}
.jumbotron h1 {
	text-transform: uppercase;
	text-align: center;
	text-shadow: 2px 2px 2px lightgrey;
}
.jumbotron .btn {
	position: center;
	margin-top: 5%;
	margin-left: 45%;
	text-transform: uppercase;
	box-shadow: 2px 2px 2px lightgrey;
}
.description {
	padding: 10px;
	text-align: center;
}
.gallery img {
	min-height: 300px;
	min-width: 300px;
	width: 100%;
	padding: 10px;
}
.mini-gallery img {
	max-width: 180px;
	max-height: 180px;
	width: 100%;
	margin: 0 auto;
}
.media {
	max-height: 250px;
	max-width: 350px;
	width: 100%;
	display: inline-block;
}
.blog img {
	max-height: 150px;
}
.blog p {
	width: 200px;
	padding: 5px;
	font-size: 10px;
}
input[type="checkbox"] + label {
    font-size: 30px;
    cursor: pointer;
    color: white;
}
input, label {
    display: none;
} 
@media (min-width: 300px) and (max-width: 760px) {
	label {display: block;}
	#menu-button:not(:checked) ~ul{display: none;}
	#menu-button:checked ~ ul {display: block;}
	navbar-nav {
		display: inline;
	}
 }